@media all and (max-width: 375px) {

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 90%;
    }

    .box__second {
        padding: 20px;
    }

    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }
}