@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(30, 38%, 92%);
}

main {
    display: flex;
    flex-direction: row;
    height: 450px;
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
}

.img-mobile {
    display: none;
}

.box__second {
    padding: 30px;
}

.box__second h1 {
    font-weight: 500;
    letter-spacing: 5px;
    font-size: .75rem;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
}

.box__second h2 {
    margin-top: 15px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    line-height: 1em;
    font-size: 2rem;
    width: 90%;
}

.desc {
    margin-top: 30px;
    line-height: 1.5rem;
    font-size: .875rem;
    color: hsl(228, 12%, 48%);
}

.prices {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 20px 0;
}

.reduct__price {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
}

.real__price {
    margin-left: 20px;
    text-decoration: line-through;
    font-size: .75rem;
    color: hsl(228, 12%, 48%);
}

button {
    background-color: hsl(158, 36%, 37%);
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-weight: bold;

    transition: all .1s;

    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: hsl(158, 36%, 20%);
    cursor: pointer;
}

button span {
    margin-left: 10px;
}

/* .card__btn {
    display: flex;
    padding: 10px 50px 10px 50px;
} */

.attribution {
    margin-top: 20px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}